#header_image {
	border-radius: 50%;
	height: 140px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
	text-align: center;
	color: white;
}

body {
	background-image: url("../pictures/background.jpg");
}

#yellow {
	color: yellow;
	text-align: center;
}

.jumbotron {
	background-color: transparent;
	margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: table;
    text-align: center;
}

ul li {
	display: inline-block;
    float: none;
}

#navitems {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#navitems:hover {
    background-color: #6492db;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 33.33%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0px; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 26px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #6492db; /* Add a hover color */
}

#bottomnavpic1 {
	height: 50px;
}

#bottomnavpic2 {
	height: 50px;
}

#bottomnavpic3 {
	height: 50px;
}

.active {
    background-color: #6492db;
    color: white;
}

.white {
    color: white;
    text-align: center;
}



