/* tag */
body {
    background-image: url("../pictures/background.jpg");
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: table;
    text-align: center;
}

ul li {
    display: inline-block;
    float: none;
}

/* id */
#header_image {
	border-radius: 50%;
	height: 140px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#yellow {
    color: yellow;
    text-align: center;
    font-family: 'Share Tech', serif;
    font-size: 25px;
}

#white {
    color: white;
    text-align: center;
    font-family: 'Share Tech', serif;
    font-size: 25px;
}

#navitems {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#navitems:hover {
    background-color: black;
}

#bottomnavpic1 {
    height: 50px;
}

#bottomnavpic2 {
    height: 50px;
}

#bottomnavpic3 {
    height: 50px;
}

#cameraimage {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

/* class */
.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

.name {
	text-align: center;
	color: white;
}

.name-header {
    font-family: 'Share Tech Mono', serif;
    font-size: 45px;
    text-shadow: 3px 3px 3px #aaa;
}

.major-college-header {
    font-family: 'Share Tech Mono', serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #aaa;
}

.menu {
    font-family: 'Share Tech Mono', serif;
    font-size: 20px;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 12px 0px;
    transition: all 0.3s ease;
    color: white;
    font-size: 26px;
    background-color: #333;
}

.icon-bar a:hover {
    background-color: black;
}

.active {
    background-color: black;
    color: white;
}

